
body{
    background-color: antiquewhite;
}

.books-container{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    align-items: center;
}

thead{
    background-color: darkgoldenrod;
}

tbody{
    background-color: darkgoldenrod;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: large;
    text-align: center;
  }

td{
    height: 50px;
    width: 150px;
}

button{
    border-radius: 10px;
    font-size: large;
    height: 30px;
    width: 100px;
}

h2{
    margin-top: 15px;
    font-size: 30px;
}

h3{
    margin-bottom: 20px;
    font-size: 20px;
}

.action{
    width: 450px;
}

.read{
    background-color: blue;
}

.update{
    background-color: orange;
}

.delete{
    background-color: red;
}

.create{
    background-color: green;
    height: 50px;
    width: 200px;
    margin-right: 1000px;
}

.modal {
    background-color: #111;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 150%;
    height: 60vh;
    border-radius: 10px;
    text-align: center;
    transition: left .5s;
    color: aliceblue;
}

.modal.open {
    left: 80%;
}

.modal button{
    width: 30px;
    background-color:rgb(151, 148, 148);
}

.close-model{
    float: right;
    margin-bottom: 20px;
}

.filter{
    background-color: purple;
    border-radius: 10px;
    margin: 15px;
}

.filter label{
    margin-left: 20px;
}

.img-div{
    margin-top: 30px;
    background-color: aliceblue;
}

img{
    width: 150px;
}

.hide{
    display: none;
}

.create-container{
    margin-top: 50px;
}




